body{
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: linear-gradient(to right top, green, aqua,white);
  overflow-x: hidden;
}
.app{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 100vh;
  justify-content: space-between;
}