.oi{
    padding: 5px;
    font-size: large;
    margin: 7px;
    width: 50px;
    background-color: rgb(250, 17, 17);
    color: rgb(18, 236, 18);
}
.ola{
    padding: 5px;
    font-size: large;
    margin: 7px;
    width: 50px;
    background-color: rgb(243, 243, 243);
    color: rgb(18, 51, 236);
}